body {
    background-color:#F7F7F7;
    font-family: 'Roboto';
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr ;
    grid-template-rows: 0.1fr 3fr;
    grid-template-areas: 
    'sidebar header header header'
    'sidebar main main main';
    height: 100vh ;
}
  /* @media (min-width: 308px) {
  .grid-container {
    grid-template-columns: 200px 1fr ;
    grid-template-rows: 0.1fr;
   } 
}  */
/* Header */
.header {
    grid-area: header;
    display: flex;
     align-items: center; 
     justify-content: space-between;
     padding: 0 30px 0 30px;  
    background-color: #FFFFFF;
    width: 1105px;
    height: 45px;
    /* top: -1px;
    left: 100px; */
}
  /* @media (min-width: 308px) {
  .header {
    text-align: left;
  }
}   */
.header-left{
    height: 15px;
    left: 230px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    padding-right: 25px;
   text-align: center;
}

.calender-img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 5px;
  padding: 5px;
}
.icon-img{
  width: 25px;
  height: 25px;
  margin-right: 30px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 5px;
}

.date-line{
  width: 1px;
  height: 10px;
}
span{
    color: rgb(148, 147, 147);
}

.user-name{
    margin-top: 5px;
}

.profile-box {
  background: white;
  padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  width: 100%;
  height: 600px;
  text-align: center;
  position: absolute;
}

.profile-popup {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.profile-popup .overlay-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.profile-text{
  background-color: #044483;
  width: 100%;
  height: 70px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.close-icon1{
  position: absolute;
  z-index: 3;
  align-items: right;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.profile-inner-box{
  display: flex;
  flex-direction: row;
}

.picture-text {
    color: #0088F3;
    border: 0.5px;
    margin-left: 50px;
    text-decoration: underline;
    cursor: pointer;
}

.profile-text h3{
font-family: Roboto, sans-serif;
font-size: 24px;
font-weight: 200;
text-align: left;
color: #fff;
margin-left: 20px;
}

.profile-info{
width: 600px;
height: 400px;
margin-top: 100px;
margin-left: 50px;
}

.profile-head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px solid #9e9ea4;
  font-family: Roboto, sans-serif;
  
}

.profile-head h3{
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.span-edit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.details-box{
  padding: 15px;

}

.details-box div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.details-box div label{
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-family: Roboto, sans-serif;
}

.details-box div input{
  width: 400px;
  height: 30px;
}

.profile-input span{
  font-size:12px;
  color: #0088F3;
  margin-left: 20px;
  cursor: pointer;
}

.profile-picture{
  width: 150px;
  height: 150px;
  border: none;
  margin-top: 150px;
  margin-left: 50px;
  border-radius: 50%;
  background-color: #044483;
  position: relative;

}


/* .profile-picture::before{
  width: 120px;
  height: 120px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -1;
  position: absolute;
  content: "";
} */

.inside-profile-picture{
  width: 130px;
  height: 130px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 2;
  align-items: center;
  position: absolute;
  content: "";
  margin-left: 10px;
  margin-top: 10px;
}

.save-button button{
  background-color: #25AE7A;
  width: 150px;
  height: 30px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  
}



#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color:#044483;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  width: 215px;
  height: 610px;
  gap: 0px;
  opacity: 0px;
}
.logo_img {
  width: 43px;
  height: 50px;
  margin-left: 60px;
  color: #FFFFFF; 
}  
.logo_name {
  width: 43px;
  height: 50px;
  margin-left: 28px;
  margin-top: 5px;
  color: #FFFFFF; 
  font-size: 34px;
}  
.logo_name span{
  color: #25AE7A; 
}

.btn-1{
  gap: 0px;
  opacity: 0px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #FFFFFF;
  background-color: #25AE7A; 
}
.nav-menu{
  width: 145px;
  height: 30px;
  gap: 0px;
  opacity: 0px;
  font-family: 'Roboto';
  padding: 10px 5px 0px 15px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #FFFFFF;
  text-decoration: none;
}

.nav-menu:hover{
  border-radius: 0px 200px 200px 0px;
  background-color: #25AE7A; 
  border: none;
}
li{
    list-style: none;
}
.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    width: 151.23px;
  }
.sidebar-title > span {
    display: none;
}
  
.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
  .sidebar-list {
    padding: 0;
    list-style-type: none;
  }
  
  .sidebar-list-item {
     padding: 0px 30px 0px 0px; 
    font-size: 18px;
    
  }
  .sidebar-list-item button{
    width: 100%;
    height: 49px;
    top: 145px;
    gap: 0px;
    border-radius: 0px 200px 200px 0px;
    opacity: 0px;
    border: none;
    margin-left: 0;
    justify-content: left;
    text-align: center;
  }
  .sidebar-list-item > a {
    text-decoration: none;
    color: #9e9ea4;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;  
  }
    body.active-modals {
    overflow-y: hidden;
  } 
   .modals{
    margin-top: 145px;  
   background-color:#FFFFFF;
   width: 140px;
   height: 125px;
   position: absolute;
   margin-left: 970px;
 } 
.profile-pic{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor:pointer;
}
.settings-pic{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logout-pic{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.profile-img{
  width: 12px;
  height: 15px;
}
.settings-img{
  width: 12px;
  height: 15px;
}
.logout-img{
  width: 12px;
  height: 10px;
}
.profile p{
     font-size: 13px;
}
/* .profile{
  margin-right: 70px;
} */
.profile h5{
  color: #393938;
  font-weight: 700;
}
.calendar-icon{
  width: 15px;
  height: 15px;
  
}

/* .profile {
  position: absolute;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
    padding: 15px; 
   border-radius: 3px;  
   position: fixed;
}  */
/* End Header */

/* Main Content */

.main-title{
  display:flex;
}
.main-title h3{
  width:135px;
  height:24px;
  left: 230px;
   padding: 5px 0px 0px 0px; 
 border-radius: 50px;
 opacity: 0px;
 background-color: #25AE7A;
 margin-left: 20px;
 text-align: center;
 color: #FFFFFF;
 font-family: 'Roboto';
 font-size: 18px;
 font-weight: 300;
 cursor: pointer;
}
.main-title h2{
  width:150px;
  height:24px;
  left: 225px;
  padding: 5px 0px 0px 0px; 
 border-radius: 50px;
 opacity: 0px;
 border: 1px solid #777675;
 margin-left: 20px;
 text-align: center;
 color: #777675;
 font-family: 'Roboto';
 font-weight: 300;
 font-size: 18px;
 cursor: pointer;
}
.date{
  text-align: left;
  justify-content: center;
}
.date-icon{
  margin-top: 0;
}
.report-modal{
  display: flex;
  width: 250px;
 height: 200px;
 margin-left: 200px;
 margin-top: 0;
 position: absolute;
 background-color: #FFFFFF;
 box-shadow: 3px 17px 15px 0px #0000001A;
}
.report-p{
    font-size: 12px;
    margin-left: 10px;
    color: #777675;
}
.report-month{
  display: flex;
}
.due-month{
  display: flex;
  justify-content: space-between;
}
.from-month{
  margin-left: 14px;
  color: #777675;
  margin-top: 3px;
}
.to-month{
  margin-top: 5px;
 margin-right: 90px;
  color: #777675;
}
.radio{
  width: 10px;
  height: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
.month{
  margin-top: 5px;
  font-size: 11px;
  color: #000000;
  font-weight: 700;
  margin-left: 5px;
}
.radio2{
  width: 10px;
  height: 10px;
  margin-left: 70px;
  margin-top: 5px;
}
.radio3{
  width: 10px;
  height: 10px;
  margin-left: 62px;
  margin-top: 5px;
}
.month2{
  margin-top: 5px;
  font-size: 11px;
  color: #000000;
  font-weight: 700;
  margin-left: 5px;
}
.month3{
  margin-top: 5px;
  font-size: 11px;
  color: #000000;
  font-weight: 700;
  margin-left: 5px;
}
.month-date{
  display: flex;
  justify-content: space-evenly;
}
.month-from{
  width: 90px;
  height: 15px;

  border:0.5px solid #777675;
}
.month-to{
  width: 90px;
  height: 15px;
  border:0.5px solid #777675;
}
.btn-proceed{
  border: none;
  background-color: #25AE7A;
  width: 150px;
  height: 25px;
  color: #FFFFFF;
  margin-left: 50px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: Pointer;
}
.due-date{
    width: 320px;
    height: 10px;
    left: 228px;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight:500;
   color: var(--BLACK, #393938);
   margin-left: 25px;
}
.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 50px;
  margin-left: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  width: 280px;
   height: 90px;
  background-color: #FFFFFF;
  box-shadow: 0px 15px 15px 0px #0000001A;
  border-radius: 8px;
   margin-top: 5px; 
}
.card-inner {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight:300;
  text-align: center;
  width: 300px;
  height: 16px;
  top: 40px;
  left: 92px;
  gap: 10px;
  opacity: 0px;
  color: #393938;
  margin-top: 5px;
  margin-left: 20px;
}
.card-inner h3{
  color: #393938;
}
.amount{
  margin-left: 80px;
 font-size: 18px;
}
.due-from{
  color: #777675;
  margin-left: 80px;
  font-size: 15px;
  margin-top: 0;
}
.rectangle{
  margin-top: 40px;
  position: relative;
  margin-right: 10px;
}
.card-icon{
   margin-top: 40px; 
  position: absolute;
  margin-left: 10px;
}
.card-inner > .card-icon {
  font-size: 25px;
}
.content{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 40px;
}
.application-status{
  margin-left: 40px;
  margin-top: 15px;
  width: 250px;
  height: 340px;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.application-status h3{
  margin-left: 15px;
}
hr{
  width: 230px;
  border: 0.5px solid #777675;
}
.total-application{
  color: #777675;
  margin-left: 100px;
  position: absolute;
  margin-top: 5%;
  
}
.total{
  margin-left: 100px;
  position: absolute;
  margin-top: 6.5%;
}

.application-elipse{
  display: flex;
}
.elipse{
  margin-left: 10px;
  margin-top: 20px;
  width: 10px;
  height: 10px;
}
.elipse-status{
  font-size: 12px;
  color: #777675;
  margin-top: 17px;
  margin-left: 2px;
}
.elipse2{
  margin-top: 18px;
  margin-left: 45px;
  width: 10px;
  height: 10px;
}
.elipse-status2{
  font-size: 12px;
  color: #777675;
  margin-top: 17px;
  margin-left: 2px;
}
.elipse3{
  margin-left: 10px;
 margin-top: 3px;
  width: 10px;
  height: 10px;
}
.elipse-status3{
  font-size: 12px;
  color: #777675;
 margin-top: 0px;
  margin-left: 2px;
}
.recent-application{
  width: 780px;
  height: 310px;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-left:8px;
}
.application-heading{
  margin-left: 20px;
  color: #393938;
  font-size: 18px;
}
.application-search{
  display: flex;
  justify-content: space-between;
}
.input-search2{
  margin-top: 10px;
 position: relative;
 margin-right: 10px;
}  
.input-search2 input{
  border-radius: 20px;
  background-color:#f1f1f4;
  border:none;
  width: 200px;
  height: 30px;
  position: relative;
  padding-left: 10px;
 
}
.search-icon2{
  position: absolute;
  transform: translateY(-50%);
  margin-top: 15px;
 right: 10px;
 width: 15px;
 height: 15px;
}
.table{
  width: 780px;
  border-collapse: collapse;
}
.table th{
  background: #F7F7F7;
  color: #393938;
  height:30px;
  padding-top: 10px;
}
.table tr{
  padding-top: 20px;
}
.table td{
  text-align: center;
 top: 20px;
 width:fit-content;
}
.dropdown{
  color: #393938;
}
.application-no{
  color: #0088F3;
  cursor: pointer;
}
.loan-status{
    background-color: #62B8FC;  
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  height: 10px;
  color: #FFFFFF;
  margin-right: 10px;
}
.loan-status2{
  background-color: #25AE7A; 
border-radius: 20px;
cursor: pointer;
width: 100px;
height: 10px;
color: #FFFFFF;
}
.loan-status3{
  background-color: #FFBE0B;
border-radius: 20px;
cursor: pointer;
width: 100px;
height: 10px;
color: var(--BLACK, #393938);
}
.loan-status4{
  background-color: #FFBE0B;
border-radius: 20px;
cursor: pointer;
width: 100px;
height: 10px;
color:var(--BLACK, #393938);
}
.loan-status5{
  background-color: #62B8FC;  
border-radius: 20px;
cursor: pointer;
width: 100px;
height: 10px;
color: #FFFFFF;
}
body.active-modal {
  overflow-y: hidden;
}

/* .btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
} */
.modal{
    display: flex;
    width: 100vw;
   top: 50%;
   height: 100vh;
}
.modal-content h5{
  color: #393938;
  font-size:15px ;
  margin-top: 5px;
}
.appno-status{
  font-size: 11px;
  color: #000000;
}
.status{
  margin-left: 320px;
  font-size: 10px;
  color: #393938;
}
.btn{
  background-color: #2CBA00;
  height: 30px;
  width: 100px;
  border: none;
  margin-left: 320px;
  color:#FFFFFF;
  font-size: 10px;
}
.group-info{
  font-weight:600;
  left: 32px;
  margin-top: 5px;
  color: #000000;
  font-size: 10px;
}
.group-details{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.group-information{
  color: #777675;
}
.information{
  color: #393938;
  font-size: 10px;
}
.loanstatus-active{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.collection{
  margin-right: 30px;
  font-size: 14px;
  color: #393938;
  font-weight: 700;
}
.collec-agent{
  font-size: 12px;
  color: #393938;
  margin-left: 300px;
  margin-top: 0px;
  flex-direction: column;
}
.btn2{
  height: 30px;
  width: 120px;
  margin-left: 280px;
  color:var(--BLACK, #393938);
  background-color: #FFFFFF;
   border: 0.63px solid #777675;
  font-size: 10px;
  cursor: pointer;
}
.img-pdf{
  display: flex;
   border: 0.50px solid #777675; 
  border-radius: 20px;
  margin-right: 50px;
  width: 70px;
  height: 20px;
  padding-left: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
.img-pdf img{
  width: 10px;
  height: 10px; 
}
.not-attached{
  color:#F84D4D;
}
.attachments-line{
  border: 0.75px solid #777675
}
.dropdown{
  color: #393938;
}
/* .modal-content p{
  color: #777675;
} */
 .modal, .overlay {
  width: 100vw;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  position: fixed;
} 
.overlay{
   background: rgba(49,49,49,0.8);  
}
.modal-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
   padding: 15px;
  border-radius: 3px;
   max-width: 500px;
  min-width: 300px; 
  z-index: 20px;
  overflow-y:auto;
  max-height: 85vh;
}
.modal-content::-webkit-scrollbar{
      width: 0.8rem;
}
.modal-content::-webkit-scrollbar-track{
   background-color: #d1cfcf;     
}
.modal-content::-webkit-scrollbar-thumb{
  background-color:#25AE7A;
  border-radius: 1rem;
  border: 0.5rem solid transparent;
} 
.popup-line{
  border: 0.5px solid #777675;
  width: 448px;
}
 h4 span{
  color: #2DA24A;

}
.close-modal {
  position: absolute;
  top:5px;
  right: 5px;
  padding: 5px 7px;
  border: none;
  cursor: pointer;
  background: #FFFFFF;

}
.openmodal{
 position: absolute;
   margin-left: 50%;   
 background-color:#FFFFFF;
 width: 90px;
 height: 210px;
 z-index: 10;
box-shadow: 0px 15px 15px 0px #0000001A;
} 
.openmodal2{
  position: absolute;
    margin-left: 50%;   
  background-color:#FFFFFF;
  width: 90px;
  height: 210px;
  z-index: 10;
 box-shadow: 0px 15px 15px 0px #0000001A;
 } 
.submitted{
  display: flex;
  font-size: 10px;
}
.radio-button::selection{
  background-color: #25AE7A;
  cursor: pointer;
}
.radio-button{
  border: 0.6px solid var(--DULL-GREY, #777675);
  width: 10px;
  height: 10px;
  margin-top: 10px;
}
.btn-ok{
  width: 25px;
  height: 15px;
  background-color: #25AE7A;
  border: none;
  font-size: 10px;
  margin-top: 7px;
  margin-left: 10px;
  cursor: pointer;
}
.cancel{
  margin-left: 10px;
  cursor: pointer;
}

.total-group{
  color: #777675;
  margin-left: 50px;
  margin-top:70px;
} 
   
h2 span{
  width: Hug (68px)px;
  height: Hug (30px)px;
padding: 4px 5px 4px 5px;
border-radius: 4.45px 0px 0px 0px;
opacity: 0px;
background-color: #044483;
color:#FFFFFF;
}
 .group-container{
  width: 1080px;
  height: 410px;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
  margin-left:50px;
} 
.group-btn{
  display: flex;
}
.input-search{
  margin-left: 30px;
  margin-top: 30px;
 position: absolute;
}
.input-search input{
  border-radius: 20px;
  background-color:#d0d0d2;
  border: none;
  width: 205px;
  height: 35px;
  position: relative;
  padding-left: 10px;
}
.search-icon{
  position: absolute;
  transform: translateY(-50%);
  margin-top: 20px;
  margin-left: 5px;
}
.disable-btn{
  border: 1px solid #25AE7A;
  color:  #25AE7A;
  margin-top: 40px;
  margin-left: 650px;
  width: 80px;
  height: 35px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.add-btn{
  width: 150px;
  height: 35px;
  background-color: #25AE7A;
  color: #FFFFFF;
 border: none;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.download-btn{
  width: 150px;
  height: 35px;
  background-color: #E0F1E4;
  color:#25AE7A;
  border: 1px solid #25AE7A;
  margin-left: 10px;
  margin-top: 30px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}
.download-icon{
  color: #25AE7A;
  width: 20px;
  height: 15px;
 
}
.table2{
  margin-top: 13px;
  width: 1080px;
  border-collapse: collapse;
}
.table2 tr{
  padding-top: 20px;
}
.table2 th{
  font-size: 13px;
  background: #F7F7F7;
  color: #393938;
}
.table2 td{
  text-align: center;
}
.active-status{
  color:#25AE7A;
}
.closed-status{
  color: #F84D4D;
}
.addmodal{
  display: flex;
  width: 100vw;
 top: 50%;
 height: 100vh;
}
.addmodal, .overlay {
  width: 100vw;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0px;
  position: fixed;
} 
.overlay{
   background: rgba(49,49,49,0.8);  
}
.add-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FFFFFF;
   padding: 15px;
  border-radius: 3px;
   max-width: 500px;
  min-width: 300px; 
}
.close-modal {
  position: absolute;
  top:5px;
  right: 5px;
  padding: 5px 7px;
  border: none;
  cursor: pointer;
  background: #FFFFFF;
}

