body {
    margin: 0;
    padding: 0;
    background-color:#F7F7F7;
    font-family: 'Roboto';
}

.grid-container{
    display: grid;
    grid-template-columns: 215px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 
    'sidebar header header header'
    'sidebar main main main';
    height: 100vh ;

}

/* Header */
.header {
    grid-area: header;
    display: flex;
     align-items: center; 
     justify-content: space-between; 
    padding: 0 30px 0 30px; 
    background-color: #FFFFFF;
    width: 1073px;
    height: 60px;
    /* top: -1px;
    left: 100px; */
    
}
.header-left{
    width: 244px;
    height: 24px;
    left: 230px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22px;
    color: #000000;
    padding-right: 25px;
}
span{
    color: rgb(148, 147, 147);
}

.menu-icon{
    display: none;
}
.user-name{
    margin-top: 5px;
}
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color:#044483;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  width: 215px;
  height: 1050px;
  gap: 0px;
  opacity: 0px;
}
.logo_img {
  width: 43px;
  height: 50px;
  margin-left: 60px;
  color: #FFFFFF; 
}  
.logo_name {
  width: 43px;
  height: 50px;
  margin-left: 28px;
  margin-top: 5px;
  color: #FFFFFF; 
  font-size: 34px;
}  
.logo_name span{
  color: #25AE7A; 
}
.icon-img{
     margin-top: 5px;
    width: 30px;
    height: 30px;
    left: 81px;
    padding: 0px 36px 0px 0px; 
    gap: 0px;
    opacity: 0px;
    
}
.btn-1{
  top: 301px;
  gap: 0px;
  opacity: 0px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.0025em;
  text-align: left;
  color: #FFFFFF;
  background-color: #25AE7A;
    
}
.nav-menu{
  width: 125px;
  height: 14px;
  gap: 0px;
  opacity: 0px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.0025em;
  text-align: center;
  color: #FFFFFF;
  margin-left: 15px;
}
li{
    list-style: none;
}
.sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 0px 30px;
    
    width: 151.23px;
  }
.sidebar-title > span {
    display: none;
}
  
.sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
}
  .sidebar-list {
    padding: 0;
    list-style-type: none;
     /* padding-left: 15px;  */
    align-items: center;
  }
  
  .sidebar-list-item {
     padding: 0px 30px 0px 0px; 
    font-size: 18px;
    
  }
  .sidebar-list-item button{
    width: 100%;
    height: 49px;
    top: 145px;
    gap: 0px;
    border-radius: 0px 200px 200px 0px;
    opacity: 0px;
    border: none;
    margin-left: 0;
    justify-content: left;
    text-align: center;
  }
  .sidebar-list-item > a {
    text-decoration: none;
    color: #9e9ea4;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    z-index: 12 !important;  
  }
/* End Header */

/* Main Content */


.main-title{
  display:flex;
}
.main-title h3{
  width:145px;
  height:27px;
  left: 230px;
   padding: 5px 0px 0px 0px; 
 border-radius: 50px;
 opacity: 0px;
 background-color: #25AE7A;
 margin-left: 20px;
 text-align: center;
 color: #FFFFFF;
 font-family: 'Roboto';
 font-weight: 400;
 cursor: pointer;
}
.main-title h2{
  width:140px;
  height:25px;
  left: 230px;
  padding: 5px 0px 0px 0px;
 border-radius: 50px;
 opacity: 0px;
 border: 1px solid #777675;
 margin-left: 20px;
 text-align: center;
 color: #777675;
 font-family: 'Roboto';
 font-weight: 400;
 font-size: 20px;
 cursor: pointer;
}
.date{
  text-align: left;
  justify-content: center;
}
.date-icon{
  margin-top: 0;
}
.due-date{
    width: 338px;
    height: 10px;
    left: 228px;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight:600;
   color: var(--BLACK, #393938);
   margin-left: 25px;
}
.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 50px;
  margin-left: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 8px 15px;
  border-radius: 5px;
  width: 300px;
   height: 135px;
  top: 200px;
  background-color: #FFFFFF;
  box-shadow: 0px 15px 15px 0px #0000001A;
  border-radius: 8px;
  margin-top: 5px;
}
.card-inner {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  width: 320px;
  height: 16px;
  top: 40px;
  left: 92px;
  gap: 10px;
  opacity: 0px;
  color: #393938;
  margin-top: 5px;
  margin-left: 20px;
}
.card-inner h3{
  color: #393938;

}
.amount{
  margin-left: 75px;
 font-size: 24px;
}
.due-from{
  color: #777675;
  margin-left: 75px;
  font-size: 18px;
}
.rectangle{
  margin-top: 100px;
  position: relative;
  margin-right: 10px;
}
.card-icon{
  margin-top: 100px;
  position: absolute;
  margin-left: 10px;
}
.card-inner > .card-icon {
  font-size: 35px;
}
.content{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 60px;
}
.application-status{
  margin-left: 30px;
  margin-top: 15px;
  width: 250px;
  height: 320px;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.application-status h3{
  margin-left: 15px;
}
hr{
  width: 230px;
  border: 0.5px solid #777675
}
.recent-application{
  width: 750px;
  height: 400px;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
}